.no-border {
    border-radius: 0;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.center-block {
    padding: 30px 50px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    background: rgba(2, 2, 2, 0.2);
    border-radius: 10px;
}

.error-block {
    padding: 10px 10px;
    background: rgba(255, 2, 2, 0.2);
    border-radius: 10px;
    font-size: 15px;
}

.help-block {
    font-size: 15px;
    margin-bottom: 3px;
    color: rgba(255, 50, 50, 1);
    text-shadow: 1px 1px rgba(150, 70, 70, 0.5);
}

/* Forms */

.form-control {
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 3px;
    background: rgba(2, 2, 2, 0.5);
    font-size: 20px;
    height: auto;
    color: white;
}

.form-group.focus .form-control,
.form-control:focus,
.form-group.focus .select2-search input[type="text"],
.select2-search input[type="text"]:focus {
    border-color: white;
}

/* Buttons */

.btn-primary {
    color: #ffffff;
    background-image: none;
    background-color: #2980b9;
    width: auto;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #5faee3;
}

.btn-primary:active, .btn-primary.active {
    background: #3498db;
    box-shadow: none;
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
    width: auto;
}

/* Nav */

/* Style */

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url('/assets/background.jpg');
    background-size: cover;
    font-family: 'Sorts Mill Goudy', serif !important;
}

.name {
    color: grey;
}

.forgot-pwd,
.forgot-pwd:hover {
    font-size: 18px;
    margin: 10% 0;
    font-family: 'Sorts Mill Goudy', serif;
    color: white;
    right: 0px;
    cursor: pointer;
}

a {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #3498db;
}

body {
    color: white;
    background-color: #34495e;
    font-size: 24px;
}

.ambiance-name {
    color: black;
    padding: 2px;
}

.save-button {
    background-color: grey;
    color: white;
    border-color: grey;
}
div .box {
    height: auto !important;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    background-color: transparent !important;
}

.voice-control {
    background-color: white;
    height:50px;
    width:50px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.micro {
    margin-left: 17px;
    margin-top: 10px;
    color: black;
}

