<div ng-controller="AmbianceController" ng-cloak>

    <div>
        <link rel="stylesheet" href="../css/light/light.css">
        <link rel="stylesheet" href="../css/spinners/loader.css">
        <link rel="stylesheet" href="../assets/dashboard/css/custom.css">
        <link rel="stylesheet"
              href="../components/angular-bootstrap-colorpicker/css/colorpicker.min.css">
        <link rel="stylesheet" href="../components/angular-ui-switch/angular-ui-switch.min.css">

    </div>


    <div class="container-fluid" id="content">
        <div class="row light_info">
            <div class="text-center">
                <div ng-show="loading && ambiances">
                    <i class="left fa fa-spinner fa-spin fa-fw"></i> Refreshing
                </div>
                <div ng-hide="loading && ambiances">Ambiances</div>
            </div>
        </div>

        <center class="sk-folding-cube" ng-show="!ambiances">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </center>

        <div class="container-fluid row">
            <div class="row" ng-if="ambiances">
                <div ng-repeat="ambiance in ambiances">
                    <div class="col-lg-3 col-md-3 light_info_row ">
                        <div class="text-center x_panel">
                            <div class="container-fluid ">
                                <div class="col-md-8 pull-right x_title alignButton">
                                    <i class="fa fa-lightbulb-o fa-fw cursor" style="font-size:30px;"
                                       ng-click="applyAmbiance($index)"></i>
                                    <i class="fa fa-edit fa-fw cursor" style="font-size:28px; margin-top:10px"
                                       ng-click="toggleEditAmbiance($index)"></i>
                                    <i class="fa fa-trash fa-fw cursor" style="font-size:28px;"
                                       ng-click="deleteAmbiance($index)"></i>
                                </div>
                                <div class="row x_content">
                                    <section class="flatstage">

                                        <div class="carousel slide carousel-fade preview" data-ride="carousel"
                                             interval="1500">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item" ng-class="{'active':$index == 0}"
                                                     ng-repeat="slideLights in ambiance.lights">
                                                    <div class="container-fluid">
                                                        <div ng-repeat="light in slideLights.lightscolors">
                                                            <div class="col-lg-4">
                                                                <figure class="flatball"
                                                                        style="background: radial-gradient(circle at 0% 5%, {$ light.color $} , #0a0a0a 150%, #000000 150%)">
                                                                    <span class="shadow"></span>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div ng-bind="ambiance.name"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-lg-1 col-md-1 light_info_row" ng-click="toggleNewAmbiance()" style="cursor:pointer;">
                    <div class="container-fluid x_panel">
                        <button class="modal-toggle" style="margin: 0 auto">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalCreateAmbiance" aria-labelledby="modalCreateAmbiance">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Create ambiance</h4>
                </div>
                <div class="modal-body">

                    <div id="ambianceCarousel" class="carousel slide carousel-fade" data-ride="carousel"
                         data-interval="0">

                        <ol class="carousel-indicators">
                            <li data-target="#ambianceCarousel" data-slide-to="{$ $index $}"
                                ng-class="{'active': $index == 0}"
                                ng-repeat="slideLights in currentAmbiance.lights"></li>
                        </ol>
                        <hr/>

                        <div class="carousel-inner" role="listbox">

                            <div class="item" ng-class="{'active':$index == 0}"
                                 ng-repeat="slideLights in currentAmbiance.lights">

                                <div class="row">
                                    <i class="fa fa-clock-o black left col-md-offset-1" aria-hidden="true"></i>
                                    <input type="number" min="1" ng-model="slideLights.duration"
                                           class="ambiance-duration left"/>
                                    <i class="fa fa-trash col-md-offset-8 right"
                                       ng-class="{ 'white' : $first, 'black': $index > 0 }"
                                       ng-click="deleteSlide('#ambianceCarousel')"></i>

                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="container-fluid">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div ng-repeat="light in slideLights.lightscolors">
                                                <div class="col-md-4">
                                                    <div class="text-center">
                                                        <figure class="flatball"
                                                                style="background: radial-gradient(circle at 0% 5%, {$ light.color $} , #0a0a0a 150%, #000000 150%)">
                                                            <span class="shadow"></span>
                                                        </figure>
                                                        <br>
                                                        <button colorpicker="rgb" type="button"
                                                                colorpicker-position="top"
                                                                class="colorpickerButton alignButton"
                                                                ng-model="light.color">
                                                            <img src="/assets/art-palette.png" width="30px"/>
                                                        </button>
                                                        <switch id="enabled" name="enabled" ng-model="light.on"
                                                                class="green alignButton"></switch>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <br margin-bottom="8px"></br>
                                    <a class="carousel-control left" href="#ambianceCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="carousel-control right" href="#ambianceCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input ng-model="currentAmbiance.name" class="ambiance-name"/>
                    <button type="button" class="btn blackBtn" ng-click="addNewAmbianceSlide()" ng-hide="saving">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>Add state
                    </button>
                    <div ng-show="saving"><span class="modal-title" ng-bind="savingText"></span><i
                            class="fa fa-spinner fa-spin fa-fw black"></i></div>
                    <button type="button" class="save-button btn" ng-click="saveNewAmbiance()" ng-hide="saving">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateAmbiance" aria-labelledby="modalUpdateAmbiance">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Edit ambiance</h4>
                </div>
                <div class="modal-body">

                    <div id="ambianceCarousel2" class="carousel slide carousel-fade" data-ride="carousel"
                         data-interval="0">


                        <div class="carousel-inner" role="listbox">

                            <div class="item" ng-class="{'active':$index == 0}"
                                 ng-repeat="slideLights in currentAmbiance.lights">

                                <div class="row">
                                    <i class="fa fa-clock-o black left col-md-offset-1" aria-hidden="true"></i>
                                    <input type="number" min="1" ng-model="slideLights.duration"
                                           class="ambiance-duration left"/>
                                    <i class="fa fa-trash col-md-offset-8 right"
                                       ng-class="{ 'white' : $first, 'black': $index > 0 }"
                                       ng-click="deleteSlide('#ambianceCarousel2')"></i>

                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="container-fluid">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div ng-repeat="light in slideLights.lightscolors">
                                                <div class="col-md-4">
                                                    <div class="text-center">
                                                        <figure class="flatball"
                                                                style="background: radial-gradient(circle at 0% 5%, {$ light.color $} , #0a0a0a 150%, #000000 150%)">
                                                            <span class="shadow"></span>
                                                        </figure>
                                                        <br>
                                                        <button colorpicker="rgb" type="button"
                                                                colorpicker-position="top"
                                                                class="colorpickerButton alignButton"
                                                                ng-model="light.color">
                                                            <img src="/assets/art-palette.png" width="30px"/>
                                                        </button>
                                                        <switch id="enabled" name="enabled" ng-model="light.on"
                                                                class="green alignButton"></switch>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <a class="carousel-control left" ng-click='previousSlide("#ambianceCarousel2")' data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="carousel-control right" ng-click='nextSlide("#ambianceCarousel2")' data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>

                                </div>
                            </div>

                        </div>
                        <hr class="invisible"/>
                        <ol class="carousel-indicators" style="position: relative">
                            <li data-target="#ambianceCarousel2" data-slide-to="{$ $index $}"
                                ng-class="{'active': $index == 0}"
                                ng-repeat="slideLights in currentAmbiance.lights"></li>
                        </ol>

                    </div>
                </div>

                <div class="modal-footer">
                    <input ng-model="currentAmbiance.name" class="ambiance-name"/>
                    <button type="button" class="btn blackBtn" ng-click="addNewAmbianceSlide()" ng-hide="saving">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>Add state
                    </button>
                    <div ng-show="saving"><span class="modal-title" ng-bind="savingText"></span><i
                            class="fa fa-spinner fa-spin fa-fw black"></i></div>
                    <button type="button" class="save-button btn" ng-click="updateAmbiance()" ng-hide="saving">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var applySlide = function () {
            setTimeout(function () {
                $(".preview").carousel('next');
                applySlide();
            }, 2000);
        };
        applySlide();
    </script>
</div>