body {
    color: rgba(104, 104, 104, 0.99) !important;
    background-image: url('/assets/background_lights.jpg');
}

.light_info_row {
    /*background: rgba(44, 44, 44, 0.80);*/
    margin: 10px;
}

.light_info {
    font-size: 40px;
    color: white;

}

img {
    max-width: 100%;
    height: auto;
}

.light-modal-title {
    font-size:14px;
    color: #444;
}

.light-modal-text {
    border: 0;
    font-size: 15px;
}

.modal-title {
    color: grey;
    font-size: 20px;
}

.modal-toggle {
    background-color: transparent;
    border-color: transparent;
    margin-top: 10px
}

.black {
    color: black;
}

/* Ball */
.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

/* Flatball */
.flatball {
    display: inline-block;
    width: 100%;
    /* height: auto; */
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: #323232;
    margin-bottom: 20px;
}

.flatball:before{
    content:'';
    padding:50% 0; /* vertical value as  100% equals width */
    display:inline-block;
}

.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.flatstage {
    width: 300px;
    display: inline-block;
    margin: 20px 0;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.carousel {
  margin-top: 20px;
}

.carousel .item{
  margin: 0 auto;
}

.carousel-indicators li{
  background-color: white;
  border-color: cornflowerblue;
}
.carousel-indicators li.active {
  background-color: cornflowerblue;
  border-color: #004080;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control.left, .carousel-control.right {
  color: gray;
   background-image:none !important;
   filter:none !important;
}

.white {
  color:white;
}

.blackNoPointer {
  color:grey;
}

.blackBtn,
.blackBtn:target,
.blackBtn:focus {
  background-color: transparent !important;
  color:grey;
}

.blackBtn:hover {
  color: grey !important;
  opacity: 0.7;
}

.black {
  color:grey;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.colorpickerButton {
  background-color: white;
  border: 0;
  font-size: 15px;
}

.alignButton {
  vertical-align: middle;
}

.switch.checked {
  background: cornflowerblue !important;
  border-color: cornflowerblue !important;
}

.ambiance-duration {
    color: black;
    height: 40px;
    width: 60px;
}
